# Example1

In [ ]:
    x = 1
    y = 1
    z = 1
    n = 2

In [ ]:
print([[x, y] for x in [1, 2, 3] for y in [4, 5, 6]])

# also equivalent to:

#Use 2 for loops in one list comp.
arr =  [1,2,3,5,6]
arr2 = [7,2,3,5,6]

#creates a tuple of combination
combinedTuple = [(x,y) for x in arr for y in arr2]
print(combinedTuple)

In [ ]:
print([[x, y] for x in range(7)])

In [ ]:
print([[x, y] for x in range(7) for y in range(2)])

# Example2

In [ ]:
#Gets the second smallest element
arr =  [1,2,3,5,6]

In [ ]:
result =[[arr[x-1]] for x in range(len(arr)-1, 0, -1) if arr[x] > arr[x-1] ]
print( result[0] )

In [ ]:
first_element = next((arr[x-1] for x in range(len(arr)-1, 0, -1) if arr[x] > arr[x-1]), None)
print( first_element )

# Example3 Sum

In [ ]:
arr =  [1,2,3,5,6]

In [ ]:
total = sum([s for s in arr]) #note you can also use: total = sum(arr) 
print(total)  

string = 'abcdef'
sub_string = 'def'
#Returns the amount of time the substring appear in the string
count = sum(1 for n in range(len(string) - len(sub_string) + 1) 
            if string[n:n+len(sub_string)] == sub_string)
print(count)

# Example4 List/Map

In [ ]:
l = '12 -9 61 5 -14'

In [ ]:
ans=list(map(int, l.rstrip().split()))
print(ans)

In [ ]:
print(all(x>0 for x in ans))

# Example5 Sorted

In [ ]:
string = 'Sorting1234'

In [ ]:
ans = ''
temp = ''
temp = sorted(''.join(x for x in string if x.islower()))
ans = ''.join(temp)
temp = sorted(''.join(x for x in string if x.isupper()))
ans += ''.join(temp)
temp = sorted(''.join(x for x in string if x.isdigit() if int(x) % 2 != 0))
ans += ''.join(temp)
temp = sorted(''.join(x for x in string if x.isdigit() if int(x) % 2 == 0))
ans += ''.join(temp)

print(ans)

# Example6 Index

In [ ]:
# Sample records
records = [
    [1, '2024-05-16', 'John Doe', 'Emma', 'Female'],
    [2, '2024-05-16', 'Jane Smith', 'Liam', 'Male'],
    [3, '2024-05-16', 'Alex Johnson', 'Olivia', 'Female'],
    [4, '2024-05-16', 'Chris Lee', 'Noah', 'Male'],
    # ... more records
]

# Using list comprehension to extract the fourth element (names) from each row
baby_names = [row[3] for row in records]

# Output the result
print(baby_names)

In [ ]:
records[2]

# Example 7 Print

In [1]:
from itertools import permutations
word = "hack"
l = 2

perm = list(permutations(word, int(l)))
perm.sort()

#all 2 letter combinations using the letters in word
[print(''.join(perm[idx])) for idx in range(len(perm))]

#Equivalent to:
for idx in range(len(perm)):
    print(''.join(perm[idx]))

ac
ah
ak
ca
ch
ck
ha
hc
hk
ka
kc
kh

[None, None, None, None, None, None, None, None, None, None, None, None]

# Example 8 Any

In [1]:
#prints True or false if any of the characters in s is a digit
s ='abc1'
print(any(c.isdigit() for c in s))

True

# Example 9 Two For

In [ ]:
# USe a list comprehension within a list comprehension
matrix = [[col for col in range(5)] for row in range(5)]
for row in matrix:
    print(row)

# Example 10 If Else

In [ ]:
#Using if else. must end with an else.
# List of numbers
numbers = [1, -2, 0, 4, -5]

# List comprehension with if-else
classifications = ["positive" if num > 0 else "negative" if num < 0 else "zero" for num in numbers]

print(classifications)
# Output: ['positive', 'negative', 'zero', 'positive', 'negative']

# Example 11 Dictionary

In [7]:
#Create a dictionary from a list

fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']
#the key is the name and the value is the size of the name
new_fellowship = {member:len(member) for member in fellowship}

# Example 12 Set

In [ ]:
#Create a set
my_set = {n for n in nums}