In [2]:
import pandas as pd
import numpy as np
file = 'Dataset/US_SME/Small_Business_By _State_2017.xlsx'
df = pd.read_excel(file)

In [4]:
print(df.head())

        State  Number of establishments  Employment  Annual payroll ($000)
0     Alabama                     78972      802920               30986278
1      Alaska                     18188      137271                6974993
2     Arizona                    114076     1065720               43182447
3    Arkansas                     53966      490680               17132234
4  California                    808213     7224945              375608143

In [6]:
Employment = np.array(df.Employment)