In [1]:
import pandas as pd

In [2]:
years = [2011,2012,2013,2014,2015,2016,2017,2018,2019,2020]
durations = [103,101,99,100,100,95,95,96,93,90]

In [35]:
# Create a dictionary with the two lists
movie_dict = {"years":years,
             "durations": durations}

In [36]:
# Create a DataFrame from the dictionary
df = pd.DataFrame.from_dict(movie_dict)

In [37]:
df.head()

   years  durations
0   2011        103
1   2012        101
2   2013         99
3   2014        100
4   2015        100

In [38]:
import pandas as pd

# Sample DataFrame
data = {
    'Genre': ['Children', 'Action', 'Drama', 'Children', 'Comedy'],
    'Title': ['Movie A', 'Movie B', 'Movie C', 'Movie D', 'Movie E']
}

netflix_movies_col_subset = pd.DataFrame(data)

# Iterate through the DataFrame using a for loop
for index, row in netflix_movies_col_subset.iterrows():
    if row['Genre'] == "Children":
        print(f"Row {index}: Genre is Children")
    else:
        print(f"Row {index}: Genre is not Children")

Row 0: Genre is Children
Row 1: Genre is not Children
Row 2: Genre is not Children
Row 3: Genre is Children
Row 4: Genre is not Children